<h1>Create a New Link</h1>
<!-- goes to the _form.htm. and pulls the code into here.  Any .erb file that
starts with an underscore is a partial file. !-->
<%= render 'form' %>


<%= link_to 'Back', links_path %>
